nav { 
  display: flex;
  padding: 1.5em;
  height: 120px;
  justify-content: space-between;
  width: 100vw;
  background-color: #4056A1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  z-index: 9;
};

 #newTweetNav {   
  display: flex;
 }
 
 #tweeterLogo {
  /* padding: 1.5em; */
  display: flex;
  font-family: 'Bungee', sans-serif;
 }

 /* Icon under Write a new tweet*/
  nav > div > .fa-solid {
   margin-left: 80px;
   color: red;
 }
