/* position, top and width essential to fixed nav bar */
.navbar-top { 
  display: flex;
  padding: 1.5em;
  height: 120px;
  justify-content: space-between;
  width: 100%; /**/
  background-color: #4056A1;
  z-index: 9;
  position: fixed; /**/
  top: 0; /**/
  color: #FFFFFF;
}

.navbar-brand {
  font-family:'Bungee', sans-serif;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-menu .fa-solid {
  color: red;
}
/*makes icon bounce when you hover over TODO*/
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
.navbar-menu .fa-solid:hover {
  animation-name: bounce;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

