.new-tweet {
  margin: 5vh 0;
}

.tweet-text-footer{
  font-family: 'Bungee', sans-serif;
  padding: 1vh;
}

#tweet-text-button {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#new-tweet-text-area {
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  height: 6vw;
  border: 0;
  border-bottom: 2px solid #61656b;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  top: -30px;
}
#new-tweet-text-area::placeholder {
  font-size: 24px;
}

output.counter{
  float: right;
}

#tweet-error {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
}

#tweet-error > p {
  padding: 0;
  margin: 0 10px;
}
