.posted-tweet {
  margin: 10vh 0vh;
  padding: 4px 16px;
  align-content: center;
  box-shadow: 5px 10px moccasin;
  background-color: ivory;
}

article:hover{
  box-shadow: 5px 10px rgb(218, 163, 24);
}


.posted-tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: baseline; */
  height: 4vh;
  }

.posted-tweet-header > div {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  height: 4vh;
  width: 35%;
  margin: 0;
  /* object-fit: contain; */
}

.posted-tweet-header > a {
  color: cornflowerblue;
  margin: 1vh;
}
.posted-tweet-header > div > img {
  width: 4vh;
  height: 4vh;
}

.posted-tweet-header p {
  margin-top: 1vh;
  margin-left: 1vh;
}

.posted-tweet-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 5px #2156b8 solid;
 
}

.flag-retweet-like-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flag-retweet-like-buttons > div {
  display: flex;
  justify-content: space-between;
  width: 20%;
  color: #2156b8;
  cursor: pointer;
}


.flag-retweet-like-buttons i:hover {
  color: rgb(218, 163, 24);
}

/* @media (min-width: 1024px) {
  .posted-tweet {
    width: 60%;
  }
} */
