article {
  margin: 10vh 0vh;
  padding: 4px 16px;
  align-content: center;
  box-shadow: 5px 10px moccasin;
  background-color: ivory;
}

article:hover{
  box-shadow: 5px 10px rgb(218, 163, 24);
}


.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: baseline; */
  height: 4vh;
  }

.top-row > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 4vh;
  margin: 0;
  /* object-fit: contain; */
}

.top-row > a {
  color: cornflowerblue;
}
.top-row > div > img {
  /* align-items: baseline; */
  width: 4vh;
  height: 4vh;
}

.mid-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 5px #2156b8 solid;
 
}

.flag-retweet-like-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flag-retweet-like-buttons > div {
  display: flex;
  justify-content: space-between;
  width: 20%;
  color: #2156b8;
}


.flag-retweet-like-buttons i:hover {
  color: rgb(218, 163, 24);
}


