article {
  margin: 10vh 0vh;
  padding: 4px 16px;
  text-align: center;
  box-shadow: 5px 10px moccasin;
  background-color: ivory;
}
article:hover {
  box-shadow: 5px 10px rgb(218, 163, 24);
  background-color: ivory;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-row > a {
  color: aliceblue;
}
.top-row > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 25%;
}

.mid-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 5px #2156b8 solid;
 
}

.flag-retweet-like-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flag-retweet-like-buttons > div {
  display: flex;
  justify-content: space-between;
  width: 20%;
  color: #2156b8;
}
.flag-retweet-like-buttons > div > #flag:hover {
  color: rgb(218, 163, 24);
}
.flag-retweet-like-buttons > div > #rt:hover {
  color: rgb(218, 163, 24);
}
.flag-retweet-like-buttons > div > #heart:hover {
  color: rgb(218, 163, 24);
}


